@charset "UTF-8";

body
{
    background-image: linear-gradient(90deg, yellow, green );
    color: black;
    font-size: 12pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}


h1#especificacoes
{   
    background-image: linear-gradient(270deg, green yellow );
    background-color: aqua;
    color: black;
    font-size: 15pt;
    font-family:Arial;
    text-align: center;
}





h1#Primeisro
{   
    background-image: linear-gradient(270deg, green yellow );
    background-color: aqua;
    color: black;
    font-size: 30pt;
    font-family:Arial;
    text-align: center;
}




h1#Primeiro
{   
    background-image: linear-gradient(270deg, green, yellow );
    background-color: aqua;
    color: black;
    font-size: 30pt;
    font-family:Arial;
    text-align: center;
}

p2.par
{
    color: red;
    font-size: 16pt;
    font-family:Verdana, Helvetica, sans-serif;
    text-align: center; 
}
p3.impar
{
    color: blue;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: right; 
}


h2
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

h21
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: left; 
    text-align: center;  
}

h3
{
    color: black;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

li
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

a
{
    color: blue;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
    text-decoration: none;
} 

table
{
    background-color: white;
    color: black;
    font-size: 20pt;
    font-family:Arial;   
    table, td, th, tfoot 
        {
            border: 3px solid;
        }  
    td {color: blue;}
    text-align: center;  
    margin: auto;    
}

table.table tr
{
    cursor.pointer;
}
